AUTH_DATABASE_URL=mongodb+srv://user:pass@cluster/archmage_auth
DATABASE_URL=mongodb+srv://user:pass@cluster/archmage_hrm

NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=

JWT_SECRET=
TOTP_SECRET=
