AUTH_DATABASE_URL=mongodb+srv://user:pass@cluster/archmage_auth
DATABASE_URL=mongodb+srv://user:pass@cluster/archmage_dpay

NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=

JWT_SECRET=
TOTP_SECRET=
