AUTH_DATABASE_URL=mongodb+srv://user:pass@cluster/archmage_auth
DATABASE_URL=mongodb+srv://user:pass@cluster/archmage_dpay

NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=

JWT_SECRET=
TOTP_SECRET=

# Channeling Public API (doctors for Bill Breakdown)
CHANNELING_API_URL=http://localhost:3000
CHANNELING_API_CLIENT_ID=
CHANNELING_API_CLIENT_SECRET=
